@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: #FF5733;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-image: linear-gradient(to right, #f89d88, rgb(36, 34, 34), #f89d88);
}

a, a:hover {
  text-decoration: none;
  color: unset;
}