.dm-movie_pagination_container {
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dm-movie_pagination_box {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dm-movie_pagination_box form {
    width: 100%;
    display: flex;
}

.dm-movie_pagination_button {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-primary);
    cursor: pointer;
    transition: all 0.5s;
}

.dm-movie_pagination_button:hover {
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,.5));
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,.5));
}

.dm-movie_pagination_button svg {
    color: var(--color-primary);
}

.dm-movie_pagination_button:disabled {
    border: 1px solid #c2c2c2;
    cursor: unset;
}

.dm-movie_pagination_button:disabled svg {
    filter: none;
    color: #c2c2c2;
}

.dm-movie_pagination_container p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: var(--color-primary);
}

.dm-movie_flip_horizontal {
    transform: rotate(180deg);
}